$black: rgba(68, 69, 69, 1);
$grey: rgba(192, 189, 165, 1);
$pink: rgba(204, 151, 142, 1);
$green: #37928E;
$red: #D12E52;
$light: #eee9d7;
$white: #fefefd;

.ctaBar {
  padding: 20px 0;
  // height: 170px;
  // background-color: $light;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .ctaBar-btn {
    border: 1px solid $black;
    border-radius: 5px;
    background-color: $grey;
    height: 130px;
    width: 32%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      margin-left: 10px;
      align-self: center;

      p:first-child {
        font-size: 2.3rem;
        font-weight: 100;
        align-self: center;

        span {
          font-weight: 400;
        }
      }

      p:nth-child(2) {
        font-weight: 300;
      }
    }


    .img-wrap {
      width: 220px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      img {
        height: 100px;
        align-self: center;
      }

      .ctaRes {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1336px) {
  .ctaBar {
    // flex-direction: column;
    .ctaBar-btn {
      height: 90px;
      justify-content: center;

      div {
        width: 60%;

        p:first-child {
          font-size: 1.4rem;
        }

        p:nth-child(2) {
          font-size: .8rem;
        }
      }

      .img-wrap {
        width: auto;
        margin-left: 0;
        display: block;

        img {
          display: none;
        }

        .ctaRes {
          display: inline;
          color: $green;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 810px) {
  .ctaBar {
    height: 100px;


    .ctaBar-btn {
      height: 80%;

      div {

        p:first-child {
          align-self: flex-start;

          span {

          }
        }

        p:nth-child(2) {
          display: none;
        }
      }


      .img-wrap {


        img {

        }

        .ctaRes {

        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .ctaBar {
    flex-direction: column;


    .ctaBar-btn {
      height: 50px;
      width: 60%;
      margin: 0 auto 15px;
      background-color: $green;

      div {
        color: $white;

        p:first-child {


          span {

          }
        }

        p:nth-child(2) {
          display: none;
        }
      }


      .img-wrap {


        img {

        }

        .ctaRes {
          color: $white;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .ctaBar {

    .ctaBar-btn {

      div {
        margin: 0;
        width: 100%;

        p:first-child {
          text-align: center;
        }
      }

      .img-wrap {
        display: none;
      }
    }
  }
}
