$black: rgba(68, 69, 69, 1);
$grey: rgba(192, 189, 165, 1);
$pink: rgba(204, 151, 142, 1);
$green: #37928E;
$red: #D12E52;
$light: #eee9d7;
$white: #fefefd;

/*-----------------------------------
-----Dynamically added classes-------
------------------------------------*/

/*------Nav Bar-----*/

.navSolid {
  background-color: rgba(68, 69, 69, 0.9) !important;
  transition: 0.3s;
}
