$black: rgba(68, 69, 69, 1);
$grey: rgba(192, 189, 165, 1);
$pink: rgba(204, 151, 142, 1);
$green: #37928E;
$red: #D12E52;
$light: #eee9d7;
$white: #fefefd;

#header nav {
  background: rgba(68, 69, 69, 0.5);
  height: 50px;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed;

  .logo {
    width: 15%;
    margin-left: 30px;

    a {

      img {
        height: 50px;
      }
    }
  }

  .nav-links {
    list-style: none;
    // width: 60%;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-self: center;

    li {
      margin: 0 45px;

      a {
        text-decoration: none;
        font-weight: 300;
        color: $white;
        transition: 0.2s;
      }

      a:hover, a:active {
        color: $red;
        transition: 0.2s;
      }
    }
  }
}

.navSolid {
  background-color: $black;
  transition: 0.3s;
}

@media only screen and (max-width: 980px) {
  #header nav {
    justify-content: space-between;

    .nav-links {
      li {
        margin: 0 20px;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  #header nav {
    flex-direction: column;

    .logo {
      margin: 5px auto 0;

      a {

        img {
          height: 20px;
        }
      }
    }

    .nav-links {
      margin: 0 auto 5px;
    }
  }
}

@media screen and (max-width: 450px) {
  .nav-links {

    li {
      margin: 0 10px;
      a {
        font-size: .7rem;
      }
    }

    li:first-child {
      display: none;
    }
  }
}
