$black: rgba(68, 69, 69, 1);
$grey: rgba(192, 189, 165, 1);
$pink: rgba(204, 151, 142, 1);
$green: #37928E;
$red: #D12E52;
$light: #eee9d7;
$white: #fefefd;

#header nav {
  background: rgba(68, 69, 69, 0.5);
  height: 50px;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed;

  .logo {
    width: 15%;
    margin-left: 30px;

    a {

      img {
        height: 50px;
      }
    }
  }

  ul {
    list-style: none;
    width: 60%;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-self: center;

    li {
      margin: 0 45px;

      a {
        text-decoration: none;
        font-weight: 300;
        color: $white;
        transition: 0.2s;
      }

      a:hover, a:active {
        color: $red;
        transition: 0.2s;
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1336px) {}
