$black: rgba(68, 69, 69, 1);
$grey: rgba(192, 189, 165, 1);
$pink: rgba(204, 151, 142, 1);
$orange: rgba(243, 156, 107, 1);
$red: rgba(255, 56, 100, 1);
$light: #eee9d7;
$white: #fefefd;

#sidebar {
  width: 20%;
}
